First of all I need to write a function to read off the input and create a dataframe with one letter in each cell.

In [2]:
import pandas as pd

def input_to_df(input_file_string):
    #list() needs to be used instead of split() because there is no separator
    input_df = pd.DataFrame([list(line.strip()) for line in open(input_file_string, 'r')])
    return input_df

In [3]:
small_input_df=input_to_df('small_input.txt')
small_input_df

   0  1  2  3  4  5  6  7  8  9
0  M  M  M  S  X  X  M  A  S  M
1  M  S  A  M  X  M  S  M  S  A
2  A  M  X  S  X  M  A  A  M  M
3  M  S  A  M  A  S  M  S  M  X
4  X  M  A  S  A  M  X  A  M  M
5  X  X  A  M  M  X  X  A  M  A
6  S  M  S  M  S  A  S  X  S  S
7  S  A  X  A  M  A  S  A  A  A
8  M  A  M  M  M  X  M  M  M  M
9  M  X  M  X  A  X  M  A  S  X

This seems to work just fine. Now I need to create a dataframe for the directions and the relative hops.

In [20]:
directions=['N','S','E','W','NE','NW','SE','SW']
hops=[[-1,0],[1,0],[0,1],[0,-1],[-1,1],[-1,-1],[1,1],[1,-1]]
column_names=['Row hop','Column hop']
directions_hops_df=pd.DataFrame(hops,index=directions,columns=column_names)
directions_hops_df

    Row hop  Column hop
N        -1           0
S         1           0
E         0           1
W         0          -1
NE       -1           1
NW       -1          -1
SE        1           1
SW        1          -1

Now I need to slowly build up the required components for the function.

-Building a loop to check if each letter in the input is the first letter of the word in question. (DONE)

-Checking which directions for each first letter are viable based on its location. (DONE)

-Adding the condition that for each cell in question, the letter has to match the correct letter in the word in question (DONE)

In [23]:
word='XMAS'

def find_number_word(df_input,word_string):
    letter_list=list(word_string)
    no_rows,no_col = df_input.shape
    no_rows=no_rows-1
    no_col=no_col-1

    no_words_found=0
    for column_n,column_name in enumerate(df_input.columns):
        for row_n,row_name in enumerate(df_input.index):
            directions_hops_df=pd.DataFrame(hops,index=directions,columns=column_names)
            result=(df_input.iloc[row_n,column_n]==letter_list[0])
            if result == 1:
                for letter_place,letter in enumerate(letter_list[1:],1):
                    for dir in directions_hops_df.index:
                        row_in_q=row_n+(directions_hops_df.loc[dir,'Row hop']*letter_place)
                        col_in_q=column_n+(directions_hops_df.loc[dir,'Column hop']*letter_place)
                        if (row_in_q > no_rows) or (row_in_q < 0) or (col_in_q < 0) or (col_in_q > no_col):
                            directions_hops_df=directions_hops_df.drop(labels=[dir])
                        elif df_input.iloc[row_in_q,col_in_q]!=letter:
                            directions_hops_df=directions_hops_df.drop(labels=[dir])
                        else:
                            pass
                no_words_found=no_words_found+len(directions_hops_df.index)    
            else:
                pass
    
    return no_words_found

print(find_number_word(small_input_df,'XMAS'))

18

Seems to be working, I will try to find out the answer of the full input!

In [25]:
full_input_df=input_to_df('input.txt')
print(find_number_word(full_input_df,'XMAS'))

2524